﻿
<!DOCTYPE html>
<html>
<head>
	<title>Mon Stream</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
	<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
	<style>
		/* Police de caractères globale */
		body {
			font-family: Arial, sans-serif;
		}

		/* styles pour le logo Twitch */
		.logo-twitch {
			display: inline-block;
			height: 50px;
			width: auto;
			margin-right: 10px;
		}

		/* styles pour les icônes de réseaux sociaux */
		.social-icons {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
		}

			.social-icons li {
				display: inline-block;
				margin-right: 10px;
			}

				.social-icons li:last-child {
					margin-right: 0;
				}

			.social-icons a {
				display: inline-block;
				height: 50px;
				width: 50px;
				line-height: 50px;
				text-align: center;
				background-color: #000;
				color: #fff;
				border-radius: 50%;
				font-size: 24px;
				text-decoration: none;
			}

				.social-icons a:hover {
					background-color: #6441A4;
					color: #fff;
				}
		/* Style pour l'en-tête */
		header {
			background-color: #1c1c1c;
			color: #fff;
			padding: 20px;
		}

			header h1 {
				margin: 0;
			}

			header ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}

				header ul li {
					display: inline-block;
					margin-right: 20px;
				}

					header ul li a {
						color: #fff;
						text-decoration: none;
					}

						header ul li a:hover {
							border-bottom: 2px solid #fff;
						}

		/* Style pour la section "Ma chaîne" */
		section:first-of-type {
			padding: 40px;
			background-color: #f7f7f7;
		}

		section h2 {
			margin-top: 0;
		}

		section ul {
			margin: 20px 0 0;
			padding: 0;
			list-style: none;
		}

			section ul li {
				display: inline-block;
				margin-right: 20px;
			}

				section ul li a {
					color: #1c1c1c;
					text-decoration: none;
				}

					section ul li a:hover {
						border-bottom: 2px solid #1c1c1c;
					}

		/* Style pour la section "Mon dernier stream" */
		section:nth-of-type(2) {
			padding: 40px;
			background-color: #fff;
		}

		.video-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
		}

			.video-container iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

		/* Style pour la section "Mon planning de diffusion" */
		section:nth-of-type(3) {
			padding: 40px;
			background-color: #f7f7f7;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

			table thead {
				background-color: #1c1c1c;
				color: #fff;
			}

			table th, table td {
				padding: 10px;
				text-align: left;
				border: 1px solid #ccc;
			}

				table td:first-of-type {
					font-weight: bold;
				}

		/* Style pour le pied de page */
		footer {
			background-color: #1c1c1c;
			color: #fff;
			padding: 20px;
			text-align: center;
		}
	</style>
</head>
<body>
	<header>
		<h1>Mon Stream</h1>
		<nav>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="/about">A propos</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<img class="logo-twitch" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Twitch_logo_2019.svg/langfr-300px-Twitch_logo_2019.svg.png">
		<ul class="social-icons">
			<li><a href="https://twitter.com/monstream"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://www.instagram.com/monstream/"><i class="fab fa-instagram"></i></a></li>
			<li><a href="https://www.facebook.com/monstream"><i class="fab fa-facebook"></i></a></li>
		</ul>
	</header>
	<main>
		<section>
			<h2>Ma chaîne</h2>
			<p>Bienvenue sur ma chaîne de streaming !</p>
			<p>Je suis un streamer passionné de jeux vidéo et de technologie, et j'aime partager mes aventures avec ma communauté.</p>
			<p>Vous pouvez me suivre sur les réseaux sociaux pour être informé de mes prochaines diffusions :</p>
			<ul>
				<li><a href="https://twitter.com/monstream">Twitter</a></li>
				<li><a href="https://www.instagram.com/monstream/">Instagram</a></li>
				<li><a href="https://www.facebook.com/monstream">Facebook</a></li>
			</ul>
		</section>
		<section>
			<div style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
				<form asp-action="NouveauStream" asp-area="" asp-controller="StreamTwitch" method="get">
					<button type="submit" style="background-color: red; color: white; font-size: 18px;">Nouveau Stream</button>
				</form>
			</div>




			@if (Model.Count > 0)
			{
				<table>
					<tr><th>Date</th><th>Titre</th><th>Statut</th></tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.DebutStream</td>
							<td>@item.Titre</td>
							<td>
								@switch (item.Status)
								{
									case 1:
										<text>Passé</text>
										break;
									case 2:
										<text>En cours</text>
										break;
									case 3:
										<text>A venir</text>
										break;
									default:
										<text>Inconnu</text>
										break;
								}
							</td>
						</tr>
					}

				</table>
			}
			else
			{
				<h3>Aucun Stream Enregistré</h3>
			}
		
		</section>
		<section>
			<h2>Mon dernier stream</h2>
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/DLzxrzFCyOs"></iframe>
			</div>
			<p>Voici le replay de mon dernier stream. J'espère que vous avez apprécié le contenu !</p>
			<p>N'hésitez pas à me laisser un commentaire pour me dire ce que vous avez aimé, et ce que je pourrais améliorer pour la prochaine fois.</p>
		</section>
		<section>
			<h2>Mon planning de diffusion</h2>
			<table>
				<thead>
					<tr>
						<th>Jour</th>
						<th>Heure</th>
						<th>Jeu</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Lundi</td>
						<td>20h-22h</td>
						<td>Fortnite</td>
					</tr>
					<tr>
						<td>Mercredi</td>
						<td>18h-20h</td>
						<td>League of Legends</td>
					</tr>
					<tr>
						<td>Vendredi</td>
						<td>21h-23h</td>
						<td>Among Us</td>
					</tr>
				</tbody>
			</table>
			<p>Voici les horaires et les jeux que je vais streamer cette semaine. J'espère vous voir nombreux pour suivre mes aventures !</p>
		</section>
	</main>
	<footer>
		<p>&copy; Mon Stream 2023 - Tous droits réservés</p>
	</footer>
</body>
</html>


