﻿<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 18px;
        background-color: #F4F4F4;
        padding: 20px;
        border-radius: 5px;
    }

    label {
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input, select {
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-bottom: 15px;
    }

        input[type="submit"] {
            background-color: #3498DB;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            input[type="submit"]:hover {
                background-color: #2980B9;
            }

</style>
<form asp-action="NouveauStream" asp-area="" asp-controller="StreamTwitch" method="post">
    <div>
        <label for="Titre">Titre:</label>
        <input type="text" name="UnStream.Titre" required>
    </div>
    <div>
        <label for="DebutStream">Début du stream:</label>
        <input type="datetime-local" name="UnStream.DebutStream" required>
    </div>
    <div>
        <label for="Status">Statut:</label>
        <select name="Status">
            <option value="1">Passé</option>
            <option value="2">En cours</option>
            <option value="3">À venir</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Enregistrer">
    </div>
</form>